<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
<div class="wrapper bg-white" >
  <div class="h2 text-center">Cosmetic</div>
  <div class="h4 text-muted text-center pt-2">Enter your login details</div>
  <form class="pt-3">
    <div class="form-group py-2" >
      <div class="input-field"> <span class="far fa-user p-2"></span> <input type="text" placeholder="Email Address" required class="" #email> </div>
    </div>
    <div class="form-group py-1 pb-2">
      <div class="input-field"> <span class="fas fa-lock p-2"></span> <input type="password" placeholder="Enter your Password" required class=""#password> <button class="btn bg-white text-muted"> <span class="far fa-eye-slash"></span> </button> </div>
    </div>
    <div class="d-flex align-items-start">
      <div class="remember"> <label class="option text-muted"> Remember me <input type="radio" name="radio"> <span class="checkmark"></span> </label> </div>
      <div class="ml-auto"> <a href="#" id="forgot">Forgot Password?</a> </div>
    </div>
    <button class="btn btn-block text-center my-3" (click)="login(email.value, password.value)">Log in</button>
    <div class="text-center pt-3 text-muted">Not a member? <a routerLink="/signup">Sign up</a></div>
  </form>
</div>
      </div>
    </div>
  </div>
</section>
<app-footers> </app-footers>
