<div class="container-fluid">
  <div class="row justify-content-center">
    <div class=" col-lg-6 col-md-8">
      <div class="card p-3">
        <div class="row justify-content-center">
          <div class="col-12">
            <h2 class="heading text-center">Check Out</h2>
          </div>
        </div>
        <!---->
        <form [formGroup]="formTemplate" onsubmit="event.preventDefault()" class="form-card">
          <div class="row justify-content-center mb-4 radio-group">
            <div class="col-sm-3 col-5">
              <div class='radio selected mx-auto' data-value="dk"> <img class="fit-image" src="https://i.imgur.com/5TqiRQV.jpg" width="105px" height="55px"> </div>
            </div>
            <div class="col-sm-3 col-5">
              <div class='radio mx-auto' data-value="visa"> <img class="fit-image" src="https://i.imgur.com/OdxcctP.jpg" width="105px" height="55px"> </div>
            </div>
            <div class="col-sm-3 col-5">
              <div class='radio mx-auto' data-value="master"> <img class="fit-image" src="https://i.imgur.com/WIAP9Ku.jpg" width="105px" height="55px"> </div>
            </div>
            <div class="col-sm-3 col-5">
              <div class='radio mx-auto' data-value="paypal"> <img class="fit-image" src="https://i.imgur.com/cMk1MtK.jpg" width="105px" height="55px"> </div>
            </div> <br>
          </div>
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="input-group"> <input type="text" formControlName="name" name="Name" placeholder="John Doe"> <label>Name</label> </div>
              <div class="text-danger" *ngIf="submitted && f.name.errors?.required">This field is required. </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="input-group"> <input type="text" formControlName="cardNo" name="card-no" placeholder="0000 0000 0000 0000" minlength="16" maxlength="16"> <label>Card Number</label> </div>
            <div class="text-danger" *ngIf="submitted && f.cardNo.errors?.required">This field is required. </div>
              <div class="text-danger" *ngIf="submitted && f.cardNo.errors?.minlength">Should be min 16 numbers </div>
              <div class="text-danger" *ngIf="submitted && f.cardNo.errors?.maxlength">Should be max 16 numbers </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="row">
                <div class="col-6">
                  <div class="input-group"> <input type="text" formControlName="exDate" name="exdate" placeholder="MM/YY" minlength="5" maxlength="5"> <label>Expiry Date</label> </div>
                <div class="text-danger" *ngIf="submitted && f.exDate.errors?.required"> This field is required. </div>
                </div>
                <div class="col-6">
                  <div class="input-group"> <input type="password" formControlName="cvv" name="cvv" placeholder="&#9679;&#9679;&#9679;" minlength="3" maxlength="3"> <label>CVV</label> </div>
                <div class="text-danger" *ngIf="submitted && f.cvv.errors?.required">This field is required</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-12">
             <input type="submit" value="Pay {{total}} $" class="btn btn-pay placeicon" (click)="submit()">
              <div class="text-success" *ngIf="trueSubmitted">Successfully Submitted!</div>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
