<div class="row">
<div class="col-sm-8">
<div class="container d-flex justify-content-center mt-50 mb-50" *ngFor='let in of counter() ;let i = index'>

  <div class="col-8" *ngIf="filled ">
    <div class="col-md-10" >
      <div class="card card-body">
        <div class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row" >
          <div class="mr-2 mb-3 mb-lg-0"> <img  [src]="copyList[i].imageURL" width="150" height="150" alt=""> </div>
          <div class="media-body">
            <h6 class="media-title font-weight-semibold"> <a  data-abc="true">{{copyList[i].name}}</a> </h6>
            <ul class="list-inline list-inline-dotted mb-3 mb-lg-2">
              <li class="list-inline-item"><a href="#" class="text-muted" data-abc="true">{{copyList[i].category}}</a></li>
            </ul>
            <p class="mb-3">{{copyList[i].caption}}</p>
            <ul class="list-inline list-inline-dotted mb-0">
            </ul>
          </div>
          <div class="mt-3 mt-lg-0 ml-lg-3 text-center">
            <h3 class="mb-0 font-weight-semibold">{{copyList[i].price}} $</h3>
            <div> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
            <button type="button" class="btn btn-warning mt-4 text-white" (click)="delete(copyList[i].id)"><i class="icon-cart-add mr-2" ></i> Remove from cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>


</div>

<div class="col-sm-4"> <div>
  <div class="container d-flex justify-content-center mt-50 mb-50">
    <div class="card card-body">

        <div><h5 class="card-title">Total</h5></div>
        <div><h5 class="card-title">{{total}} $</h5></div>
  <button type="button" class="btn btn-warning mt-4 text-white" routerLink="/checkout"> Check Out</button>


    </div>
  </div>
</div>
</div>
</div>
