<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark navbar-right">
  <ul class="nav navbar-nav navbar-right">
    <li class="nav-item active">
      <a class="nav-link" routerLink="/home">C O S M E T I C S</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/images/list">Products</a>
    </li>
    <li class="nav-item" *ngIf="isLog()===true">
      <a class="nav-link" routerLink="/show" (click)="getCategoryNav('Makeup')">Make Up</a>
    </li>
    <li class="nav-item" *ngIf="isLog()===true">
      <a class="nav-link" routerLink="/show" (click)="getCategoryNav('skincare')">SkinCare</a>
    </li>
    <li class="nav-item" *ngIf="isLog()===true">
      <a class="nav-link" routerLink="/show" (click)="getCategoryNav('hair')">Hair</a>
    </li>
    <li class="nav-item" *ngIf="isLog()===true">
      <a class="nav-link" routerLink="/show" (click)="getCategoryNav('fragrance')" >Fragrance</a>
    </li>
    <li class="nav-item"*ngIf="isLog()===true">
      <a class="nav-link" routerLink="/show" (click)="getCategoryNav('brushes')">Tools & Brushes</a>
    </li>
    <li class="nav-item" *ngIf="isLog()===false" >
      <a class="nav-link" routerLink="/login">Log In</a>
    </li>
    <li class="nav-item" *ngIf="isLog()===false" >
      <a class="nav-link" routerLink="/signup">Sign Up</a>
    </li>
    <li class="nav-item" *ngIf="roleF()==='user'">
      <a class="nav-link" routerLink="/wishlist" >Wish List</a>
    </li>
    <li class="nav-item" *ngIf="roleF()==='admin'">
      <a class="nav-link" routerLink="/images/upload">Upload</a>
    </li>
    <li class="nav-item" *ngIf="roleF()==='admin'">
      <a class="nav-link" routerLink="/signup">Register an admin</a>
    </li>
  </ul>
</nav>

</body>
</html>




<router-outlet> </router-outlet>
