
<div class="card" style="width:25rem">
  <div class="card-body">
  <form [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)">
    <div class="text-center">
      <img [src]="imgSrc" width="250px" height="250px" (click)="fileUploader.click()">
    </div>

  <div class="form-group">
    <label> Select file to upload</label>
    <input type="file" accept="image/*" class="form-control" #fileUploader formControlName="imageUrl" (change)="showPreview($event)">
  <div class="text-danger" *ngIf="isSubitted && formControls.imageUrl.errors?.required">This field is required. </div>
  </div>
    <div class="form-group">
      <input  class="form-control" formControlName="name" placeholder="Product Name">
      <div class="text-danger" *ngIf="isSubitted && formControls.caption.errors?.required">This field is required. </div>
    </div>
    <div class="form-group">
      <input  class="form-control" formControlName="id" placeholder="Product Id">
      <div class="text-danger" *ngIf="isSubitted && formControls.caption.errors?.required">This field is required. </div>
    </div>
    <div class="form-group">
      <input  class="form-control" formControlName="price" placeholder="Price">
      <div class="text-danger" *ngIf="isSubitted && formControls.price.errors?.required">This field is required. </div>
    </div>

    <div class="form-group">
      <input  class="form-control" formControlName="quantity" placeholder="Quantity">
      <div class="text-danger" *ngIf="isSubitted && formControls.quantity.errors?.required">This field is required. </div>
    </div>

    <div class="form-group">
      <input  class="form-control" formControlName="caption" placeholder="Caption">
      <div class="text-danger" *ngIf="isSubitted && formControls.caption.errors?.required">This field is required. </div>
    </div>


<div class="form-group">
  <select formControlName="category" class="form-group">
  <option value="Makeup" selected> Make Up</option>
  <option value="skincare"> SkinCare</option>
  <option value="hair"> Hair</option>
  <option value="fragrance"> Fragranace</option>
  <option value="brushes"> Tools & Burshes</option>
  </select>
</div>

    <div class="form-row">
    <div class="form-group col-nd-8">
      <a routerLink='/images/list' class="btn btn-primary btn-block float-right">Go to Gallery </a>
    </div>
    <div class="form-group col-nd-8">
      <button type="submit" class="btn btn-success btn-block float-right">Submit</button>
    </div>
    </div>
  </form>
  </div>
</div>


<router-outlet> </router-outlet>
