
<main>
  <div>
    <h5 class="card-title">Shop for products</h5>
  </div>
  <div *ngIf="imageList">

    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
      <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3" *ngFor="let i of rowIndexArray">

        <div class="col"  *ngIf="imageList[4*i]" >
          <div class="card h-100 shadow-sm"> <img [src]="imageList[4*i].imageURL" class="card-img-top" alt="...">
            <div class="card-body">
              <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">{{imageList[4*i].name}}</span> <span class="float-end price-hp">{{imageList[4*i].price}} $</span> </div>
              <h5 class="card-title">{{imageList[4*i].caption}}</h5>
              <div class="text-center my-4"> <a  class="btn btn-warning" (click)="getProdId(imageList[4*i].id)">Add to Card</a> </div>
            </div>
          </div>
        </div>

        <div class="col" *ngIf="imageList[4*i+1]">
          <div class="card h-100 shadow-sm"> <img [src]="imageList[4*i+1].imageURL" class="card-img-top" alt="...">
            <div class="card-body">
              <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">{{imageList[4*i+1].name}}</span> <span class="float-end price-hp">{{imageList[4*i+1].price}} $</span> </div>
              <h5 class="card-title">{{imageList[4*i+1].caption}}</h5>
              <div class="text-center my-4"> <a  class="btn btn-warning" (click)="getProdId(imageList[4*i+1].id)">Add to Card</a> </div>
            </div>
          </div>
        </div>

        <div class="col" *ngIf="imageList[4*i+2]">

          <div class="card h-100 shadow-sm"> <img [src]="imageList[4*i+2].imageURL" class="card-img-top" alt="...">
            <div class="card-body">
              <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">{{imageList[4*i+2].name}}</span> <span class="float-end price-hp">{{imageList[4*i+2].price}} $</span> </div>
              <h5 class="card-title">{{imageList[4*i+2].caption}}</h5>
              <div class="text-center my-4"> <a  class="btn btn-warning" (click)="getProdId(imageList[4*i+2].id)">Add to Card</a> </div>
            </div>
          </div>

        </div>

        <div class="col" *ngIf="imageList[4*i+3]">

          <div class="card h-100 shadow-sm"> <img [src]="imageList[4*i+3].imageURL" class="card-img-top" alt="...">
            <div class="card-body">
              <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">{{imageList[4*i+3].name}}</span> <span class="float-end price-hp">{{imageList[4*i+3].price}} $</span> </div>
              <h5 class="card-title">{{imageList[4*i+3].caption}}</h5>
              <div class="text-center my-4"> <a  class="btn btn-warning" (click)="getProdId(imageList[4*i+3].id)">Add to Card</a> </div>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>


</main>
<app-footers> </app-footers>
