<p>admin works!</p>
<div class="form-group col-12">
  <input type="file"
         id="file"
         #userPhoto
         (change)="onFileSelected($event)"
         name="image"
         autocomplete="off"
  />
</div>
<router-outlet> </router-outlet>
