<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="h2 text-center">WELCOME</div>
        <div class="h1 text-center">Login and Explore our products</div>
        <button class="btn btn-block text-center my-3" routerLink="/login">Log in</button>

      </div>
    </div>
  </div>
</section>
