.gradient-custom {
  /* fallback for old browsers */
  background: #f093fb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1))
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
}
.card-registration .select-arrow {
  top: 13px;
}
.h2 {
  font-family: 'Garamond', serif;
  font-size: 3.5rem;
  font-weight: bold;
  color: #363434;
}
.h1 {
  font-family: 'Garamond', serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: #363434;
}
.btn.btn-block {
  border-radius: 20px;
  background-color: #400485;
  color: #fff
}
