<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">BE OUR CUSTOMER!</h3>
            <form [formGroup]="formTemplate" (ngSubmit)="submit()" >

              <div class="row">
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text"  formControlName="name" placeholder="Name" class="form-control form-control-lg"  />
                    <div class="text-danger" *ngIf="submitted && f.name.errors?.required">This field is required. </div>


                  </div>

                </div>
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text"  formControlName="surname" placeholder="Surname" class="form-control form-control-lg" />
                    <div class="text-danger" *ngIf="submitted && f.surname.errors?.required">This field is required. </div>


                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text"  formControlName="password" placeholder="Password" class="form-control form-control-lg" />
                    <div class="text-danger" *ngIf="submitted && f.password.errors?.required">This field is required. </div>
                    <div class="text-danger" *ngIf="submitted && f.password.errors?.minlength">Should be at least 8 char. </div>

                  </div>

                </div>
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text"  formControlName="passwordConfirm" placeholder="Confirm password" class="form-control form-control-lg" />
                    <div class="text-danger" *ngIf="submitted && f.passwordConfirm.errors?.required">This field is required. </div>
                    <div class="text-danger" *ngIf="submitted && f.passwordConfirm.errors?.mustMatch">Passwords must match </div>


                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4">
                  <input type="text"  formControlName="email" placeholder="Email" class="form-control form-control-lg" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                  <div class="text-danger" *ngIf="submitted && f.email.errors?.required">This field is required </div>
                  <div class="text-danger" *ngIf="submitted && f.email.errors?.email">Should be a valid email</div>

                </div>

              </div>
              <div class="form-group">
                <button class="btn btn-primary">Register</button>
               <div class="text-success" *ngIf="trueSubmitted"> Successfully registered</div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>
